.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color:  #e9e9e9;
    -fx-background-radius: 7px 7px 0px 0px;
}

.table-view .column-header {
    -fx-background-color: transparent;
}